.contactMainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: #fff;
}

.contactContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #424242;
  width: 30%;
  height: 80%;
}

.contactTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #fff;
  color: black;
}

.contactFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 60%;
  width: 70%;
}